parameters:
    level: 1
    paths:
        - src/
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
    reportUnmatchedIgnoredErrors: false
