<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% if title %}{{ title }} - {% endif %} Open access overlay journals</title>
        <link rel="icon" type="image/png" href="{{ asset('/img/EPI_signe-couleurs_fond-blanc.png') }}">

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block head_javascript %}{% endblock %}

    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
